<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true" backupGlobals="false" convertDeprecationsToExceptions="false">
    <testsuites>
        <testsuite name="Search">
            <directory>tests/Search</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <file>Module.php</file>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout" showOnlySummary="true"/>
    </logging>
</phpunit>
